doctype html
html
   head
     block head
        title pug template engine
        link(rel="stylesheet", href="bootstrap/bootstrap.css")
        link(rel="stylesheet", href="style/style.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
body
block content
div.container
  .col-md-6.col-xs-12.ver-horzontal-center
   .col-md-12.campagin-border
    div.mt-4.row.align-items-center.flex-wrap
     div.col-md-8.col-xs-8
      h4.natcuetitle Natcue Health Care Campaign
     div.col-md-4.col-xs-4.text-right
      img(src="style/logo.png" alt="Image Title")
    div
     label  Appointment No : 
      span  #{id}
    div
     label Name :
      span  #{name}
    div
     label Medicine Cost :
      span  #{cost}
    div
     p.pt-3.hints You would  to like to order your medicine and get it for cash on Delivery at your office
    div.text-right
     a(class='btn camp-btn mb-4 m-0' type='button' href='') Order Medicine
      